<div class="container">
  <h1>
    World Air Quality Report
  </h1>

  <ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="nearest-city">See nearest city</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="population-all-countries">See top 20 largest population
      </a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>